.cartas{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 220px; */
  /* height:500px; */
}

.cartas img{
  height: 561px;
  min-width: 160px;
}

.sudoka{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.header{
  flex-basis: 100%;
}

.desistiu{
  position: absolute;
  bottom: 10px;
  right: 30px;
  height: 50px;
}

.desistiu:hover{
  cursor: pointer;
}

button{
  margin-bottom: 10px;
}

.mat-dialog-container{
  background-color: #8b9142 !important;
}

img{
  padding-bottom: -1px;
}
