.sidenav {
  background-color: #6a48a8;
  width: 200px;
  margin-top: 6px;
}

.sidenav a {
  color: #fff;
}

/* espaçamento entre o nome do icone e o icone */
.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #535353;
  box-shadow: none;
}

@media screen and (min-height: 760px) {
  .content {
    height: 80vh;
  }
}
