<mat-card class="regras mat-elevation-z1">
  <mat-card-title class="title">Regras</mat-card-title>
  <mat-card-subtitle class="subtitle">
    AS REGRAS DO JOGO: <br>
    Jogadores sentam-se ao redor da mesa, o computador é posicionado no meio da mesa. Definem quem vai começar e o jogo segue em sentido horário. O primeiro jogador sorteia uma carta do baralho e segue a classificação da cada
    As doses podem ser convertidas para goles da sua bebida, ou para shots de agua <span class="menor purple">(para os amiguinhos que não bebem 😉)</span> <br>
    As cartas dão orientação do que fazer então é só seguir as mesmas <br>
    Caso a punição não esteja especificada nas carta os jogadores podem escolher a quantidade de doses <span class="menor purple">(conselho quantidade punitiva de 1 até 3 no máx)</span><br>
    <br>
    <span class="final">Não fez? <span class="purple">BEBE!</span></span>
  </mat-card-subtitle>
</mat-card>
<div class="areaButton">
  <button mat-raised-button color="primary" (click)="openUrl()">P/ mais explicações!</button>
</div>
